.search-flights{
    box-shadow: 2px 4px 4px #CCC;
    border-radius: 5px;
    padding: 15px;
    background: #EEE;
}

.divider{
    width: 100%;
    height: 0px;
    margin: 15px 5px;
    border: 1px solid #AAA;
}